.education {
    position: relative;
    padding: 119px 350px 77px 350px;
    background-color: #5c6773
    /* background-image: linear-gradient(rgb(245 229 200), rgb(245 242 245)); */
}

.heading {
    width: 100%;
    margin-bottom: 30px;
}

.heading h2 {
    font-weight: 600;
    font-size: 30px;
}

@media (max-width: 991px) {
    .education {
        padding: 159px 40px 23px 40px;
    }
}