.education {
    position: relative;
    padding: 138px 365px 127px 365px;
    background-color: #5c6773
    /* background-image: linear-gradient(rgb(245 229 200), rgb(245 242 245)); */
}
.heading h2 {
    font-weight: 600;
    font-size: 30px;
}

@media (max-width: 991px) {
    .education {
        padding: 159px 40px 23px 40px;
    }
}