.experience {
    position: relative;
    padding: 119px 350px 42px 350px;
    background-color: #5c6773
    /* background-image: linear-gradient(rgb(243 243 212), rgb(245 229 200)); */
}

.heading {
    width: 100%;
    margin-bottom: 30px;
}

.heading h2 {
    font-weight: 600;
    font-size: 30px;
}

#dots5 {
    left: 0;
}

@media (max-width: 991px) {
    .experience {
        padding: 159px 40px 23px 40px;
    }
}