header {
    background: #ffffffc9;
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
}

header.sticky {
    background:  #ffffff;
    padding: 2px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
    color: #d2ad64;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

.logo {

}

header.sticky .logo {
    color: #a77208;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #d2ad64;
    text-decoration: none;
}

header.sticky ul li a {
    color:  #a77208;
}

@media (max-width: 991px) {
    header,
    header.sticky {
        padding: 20px 50px;
        top: 0;
        z-index: 1000;
    }
    .menu {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.6s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2)
    }
    .menu.active {
        left: 0;
    }
    header ul li a {
        color: #a77208;
        font-size: 24px;
        margin: 10px;
    }
    .toggle {
        width: 40px;
        height: 40px;
        background: url(../assets/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active {
        width: 40px;
        height: 40px;
        background: url(../assets/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header .toggle {
        filter: invert(1);
    }
}

@media (max-width: 600px) {
    header,
    header.sticky {
        padding: 20px 20px;
    }    
}
